/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : February -8, 2021, 9:03:44 M
    Author     : Lekha Ajith Kutty
*/
main {
    background-color: white;    
}


.inverse {
    background-color:#179013;
    padding-top: 10px;
    color: white;
}
.inverse a{
    color: white;
}
.btngreen {
    background-color: #179013;
}
.secondnav a{
    color: black;
}
#logosearch {
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.homeimage {
    background-image: url(../img/10_tips_for_creating_content_calendar.jpg);
    
    background-size: cover;
    position: relative;
    background-position: center;
    max-width: 100%;
    height: 40%;
    padding-left: 50px;
}
.imagetextdiv {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#linkto1{
    background-image: url("../img/lianahome3.jpg");
}
#linkto2{
    background-image: url("../img/lianahome2.jpg");
}
#linkto3{
    background-image: url("../img/lianahome3.jpg");
}
.linkto{
    height: 150px;    
    opacity: 0.9;
    background-repeat: no-repeat;
}
.linkto:hover{
    height: 150px;    
    opacity: 0.7;
}
.linkto a{
    text-align: center;
    color: 179013;
    font-size:large;
    font-weight: bold;
}
.linktoparent{
    background-position: center;
    padding: 2px;
}
.counter
{
    text-align: center;
}
.employees,.client,.users
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.counter-count
{
    font-size: 32px;
    position: relative;
    color: #179013;
    text-align: center;
    display: inline-block;
}

.client-p,.employee-p,.user-p
{
    font-size: 16px;
    color: #000000;
    
}
.latestnews{
        background-color: #eff3f8;
        text-align: center;
}
.news1,.news2,.news3
{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:white;
    padding:50px;
    text-align: justify;
}
.refrence,.newsletter{
    text-align: center;
}
.refrence p{
    font-size: 12;
}
footer {
    background-color: black;
    padding-top: 10px;
    color: white; 
}
.footerleft{
    text-align: justify;
    margin-left: 10%;
}
#thankyou{
    font-size:18px;
}
.footernav{
    list-style:none;
}
.footernav a{
    color:white;
}
@media (min-width: 576px) {
    .grid-container {
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: auto  ;
        padding: 10px;
      }
      
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
}
@media (max-width: 767px) {
    .grid-container {
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: auto;
        padding: 10px;
      }
      
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
}
@media (min-width: 992px) {
    .grid-container {
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
      }
      
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
    
}
@media (min-width: 1200px) {
    .grid-container {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
      }
      
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
    
}
@media (min-width: 992px) {
    .grid-container {
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
      }
      
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
    
}
