/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Feb 2021, 9:10:36 AM
    Author     : Lekha
*/

.para ,html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("../img/marketing-automation.png");
    min-height: 1000px;
  }
  
  .bgimg-2 {
    background-image: url("../img/10_tips_for_creating_content_calendar.jpg");
    min-height: 1000px;
  }
  
  .bgimg-3 {
    background-image: url("../img/pressrelease.png");
    min-height: 800px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption p.border {
    background-color: #111;
    opacity: 0.65;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  .caption p.border1 {
    background-color: #111;
    opacity: 0.65;
    color: #fff;
    padding: 18px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }
  }
  
  